<template>
     <div>


        <headline></headline>

        <a href="#/">Login</a>
        <a href="#/register">Register</a>
        <a href="#/forgot">Forgot Password</a>


        <!-- Router -->
        <router-view></router-view>
        
    </div>
 </template>

