<template>
    <div>
        <h1>Forgot</h1>
        <form>
            <input type="text" name="email" placeholder="Email">
            <button type="submit">Reset password</button>
        </form>
    </div>
</template>