<template>
    <h3>
        {{ title }}
    </h3>
</template>

<script>
    export default { 
        data () {
            return {
                title: 'Login-Register-Forgot Password'
            }
        }
    }
</script>