<template>
    <div>
        <h1>Login</h1>
        <form>
            <input type="text" name="user" placeholder="Username">
            <input type="password" name="pass" placeholder="Password">
            <button type="submit">Login</button>
        </form>
    </div>
</template>
