<template>
    <div>
        <h1>Register</h1>
        <form>
            <input type="text" name="email" placeholder="Email">
            <input type="text" name="user" placeholder="Username">
            <input type="password" name="pass" placeholder="Password">
            <input type="password" name="pass2" placeholder="Repeat Password">
            <button type="submit">Register</button>
        </form>
    </div>
</template>