body {
    background: #00C9FF;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #92FE9D, #00C9FF);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #92FE9D, #00C9FF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

h3, div{
    text-align: center;
	color: orange;
	font-family: cursive;
}

a:link{
	text-decoration: none;
	padding: 10px;
}

a:visited{
	color: white;
	text-decoration: none;
}

a:hover{
	color:orange;
	text-decoration: none;
}

a:active{
	color: orangered;
}

input{
	margin: 15px auto;
	text-align: center;
	display: block;
	outline: none;
	border: 1px solid orange;
	border-radius: 5px;
	padding: 5px;
	background: rgb(255,255,255); 
    background: -webkit-linear-gradient(bottom left, rgba(255,255,255,1) 0%, rgba(241,241,241,1) 50%, rgba(225,225,225,1) 51%, rgba(246,246,246,1) 100%);
    background: -o-linear-gradient(bottom left, rgba(255,255,255,1) 0%, rgba(241,241,241,1) 50%, rgba(225,225,225,1) 51%, rgba(246,246,246,1) 100%);
    background: linear-gradient(to top right, rgba(255,255,255,1) 0%, rgba(241,241,241,1) 50%, rgba(225,225,225,1) 51%, rgba(246,246,246,1) 100%);  / 
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f6f6f6',GradientType=1 );
}

::-webkit-input-placeholder { 
    color: orange;
}

:-moz-placeholder { 
    color: orange;
    opacity:  1;
}

::-moz-placeholder { /
    color: orange;
    opacity:  1;
}

:-ms-input-placeholder { 
    color: orange;
}

button{
	border: 1px solid orange;
    border-radius: 5px;
    padding: 5px 25px;
    color: white;
    background: rgb(254,204,177); /* Old browsers */
    background: -webkit-linear-gradient(bottom left, rgba(254,204,177,1) 0%, rgba(241,116,50,1) 50%, rgba(234,85,7,1) 51%, rgba(251,149,94,1) 100%);
    background: -o-linear-gradient(bottom left, rgba(254,204,177,1) 0%, rgba(241,116,50,1) 50%, rgba(234,85,7,1) 51%, rgba(251,149,94,1) 100%);
    background: linear-gradient(to top right, rgba(254,204,177,1) 0%, rgba(241,116,50,1) 50%, rgba(234,85,7,1) 51%, rgba(251,149,94,1) 100%); 
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#feccb1', endColorstr='#fb955e',GradientType=1 ); 
}
